<p style="color green"><%= notice %></p>

<%= form_with url: import_congressmen_path, method: :post do |form| %>
  <%= form.file_field :file, accept: ".csv" %>
  <p><%= form.button "Import" %></p> 
<% end %>

<h1> 
  Deputados: <%= @congressmen.count%>
</h1>

<div id="congressmen">
  <% @congressmen.each do |congressman| %>
    <%= render congressman %>
  <% end %>
</div>
  
