<body>
  <%= form_with url: import_parliamentarians_path, method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv" %>
    <p style="color green"><%= notice %></p>
    <p><%= form.button "Import" %></p> 
  <% end %>

  <h3> 
    Deputados carregados: <%= @parliamentarians_total.count%>
  </h3>

  <%# parliamentarians = [] %>

  <%# @parliamentarians.each do |parliamentarian| %>
    <%# parliamentarians <<  { nome: parliamentarian.txNomeParlamentar, soma: parliamentarian.budgets.sum(:vlrLiquido).round(2) } %>
  <%# end %>

  <%#= column_chart parliamentarians.pluck(:nome, :soma), xtitle: "Nome", ytitle: "Gasto" %>

  <div id="parliamentarians">
   <%= paginate @parliamentarians %>
    <div class="container">
      <div class="row gap-4 justify-content-center">
        <% @parliamentarians.each do |parliamentarian| %>
          <%= render parliamentarian %>
        <% end %>
      <%= paginate @parliamentarians %>
      </div>
    </div>
  </div>
</body>
